In [5]:
import GMCM_class as G
import pandas as pd

## GMCM

In [10]:
data = pd.read_csv("American_Income.csv")

In [11]:
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [12]:
G = G.GaussianCopulaSynthesizer(data)

In [13]:
G._identify_columns()

In [14]:
G.convert_datetime_to_numerical()

In [15]:
G.handle_missing_values()

In [16]:
G.assign_intervals()

In [17]:
G.preprocess_data()

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 9/9 [01:50<00:00, 12.25s/it]

In [18]:
G.fit_distributions()

In [19]:
G.compute_gmm_cdf()

In [20]:
G.standard_gaussian_all()

In [21]:
G.generate_synthetic_data(32561)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 32561/32561 [1:30:51<00:00,  5.97it/s]

,education,relationship,occupation,education-num,workclass,capital-loss,hours-per-week,capital-gain,native-country,fnlwgt,sex,salary,age,race,marital-status
0,0.149354,0.963812,0.180358,9.998699,0.807857,0.000215,35.060137,0.000000,0.544807,328850.836503,0.296287,0.221217,58.088381,0.978445,0.668778
1,0.603210,0.271572,0.873982,12.001245,0.875371,0.002115,7.168451,0.000183,0.307152,236894.988422,0.502630,0.361500,20.792368,0.349505,0.204212
2,0.582346,0.502314,0.443431,9.999115,0.590101,0.000240,46.815441,0.000948,0.475111,184395.066925,0.383676,0.449096,64.679867,0.341353,0.308675
3,0.823585,0.258989,0.797033,9.999680,0.349458,0.000000,40.000277,0.000328,0.477565,208743.921227,0.540889,0.467647,28.798010,0.892965,0.258994
4,0.160011,0.312182,0.462860,8.999211,0.805746,0.000000,39.999672,0.000191,0.936123,266787.332998,0.321770,0.423944,19.393377,0.487962,0.565848
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0.729026,0.927088,0.464493,9.001135,0.292162,0.000000,30.262557,0.000000,0.441059,69785.288195,0.346583,0.429255,18.715155,0.973946,0.945409
32557,0.816062,0.956223,0.080743,9.001186,0.395727,0.000632,40.001240,0.000872,0.971601,107442.351082,0.380904,0.416991,44.765074,0.873027,0.824460
32558,0.117459,0.295773,0.810116,10.000026,0.796398,0.000053,40.000396,0.000435,0.493136,170524.432493,0.374787,0.552994,49.279466,0.769728,0.200541
32559,0.810517,0.557899,0.852327,9.000284,0.207536,0.000000,49.299449,0.000000,0.967464,192466.327254,0.430535,0.286977,27.204540,0.542839,0.584105
32560,0.152930,0.173429,0.069310,9.000629,0.768154,0.000000,14.660091,0.000320,0.585235,337653.605846,0.305532,0.461571,32.705192,0.260041,0.304709

In [22]:
df = G.post_process()

In [23]:
G.get_execution_times_df()

             Process  Time (seconds)
0       Fitting Time      478.035748
1    Generation Time     5451.933785
2  Post-Process Time        0.103406

In [22]:
modify_df = df[data.columns]

In [30]:
numerical_cols = modify_df.select_dtypes(include=['number']).columns
modify_df[numerical_cols] = modify_df[numerical_cols].round(0).astype(int)

In [24]:
from sdv.metadata import SingleTableMetadata
from sdv.evaluation.single_table import evaluate_quality
from sdv.single_table import GaussianCopulaSynthesizer

In [25]:
metadata1 = SingleTableMetadata()
metadata1.detect_from_dataframe(data = data)

baseline_quality_report = evaluate_quality(
    data,  #real data
    modify_df, #synthetic data(perfect synthesizer generated(holdout))
    metadata1
)

Creating report: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4/4 [00:00<00:00,  4.72it/s]

Overall Quality Score: 90.64%

Properties:
Column Shapes: 89.93%
Column Pair Trends: 91.36%

## GCKM

In [2]:
import pandas as pd
import GCKM as G
data = pd.read_csv("American_Income.csv")
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:
G = G.GaussianCopulaKmeansSynthesizer(data)
G._identify_columns()
G.convert_datetime_to_numerical()
G.handle_missing_values()
G.assign_intervals()
G.preprocess_data()
G.get_distribution()
G.calculate_cdfs()
G.standard_gaussian_all()
G.optimal_clusters_dynamic()
G.get_Kmeans()
G.generate_data()
G.generate_synthetic_data(32561)
G.post_process()
G.get_execution_times_df()

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 9/9 [01:50<00:00, 12.24s/it]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 32561/32561 [01:01<00:00, 525.24it/s]

             Process  Time (seconds)
0       Fitting Time      139.877552
1    Generation Time       62.067793
2  Post-Process Time        0.093020

In [4]:
df = G.synthetic_data
modify_df = df[data.columns]
modify_df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,49.660426,Self-emp-inc,211747.098191,Assoc-voc,11.943016,Married-civ-spouse,Other-service,Husband,White,Male,19244.598137,10.475609,48.150401,United-States,<=50K
1,36.816376,Self-emp-not-inc,215080.239923,HS-grad,8.652069,Married-civ-spouse,Tech-support,Husband,White,Male,1.593415,501.875830,51.482038,United-States,<=50K
2,46.162585,Private,201424.664810,Masters,12.215293,Never-married,Sales,Husband,White,Female,48.049456,1535.595450,31.971105,United-States,<=50K
3,36.966249,Self-emp-not-inc,116992.921998,HS-grad,9.463096,Married-civ-spouse,Other-service,Unmarried,White,Male,501.746431,33.874895,44.763243,United-States,<=50K
4,29.253728,Private,204658.771981,HS-grad,7.527022,Divorced,Sales,Unmarried,White,Female,15424.661363,1663.424677,37.496341,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,36.715466,Private,12285.000000,Prof-school,10.927373,Never-married,Transport-moving,Not-in-family,White,Male,14931.706188,562.348372,35.133354,United-States,<=50K
32557,34.304896,State-gov,224325.567516,10th,9.783300,Never-married,Other-service,Husband,White,Male,15029.168496,0.052430,49.155816,United-States,<=50K
32558,17.000000,Private,307364.350654,Masters,10.876234,Never-married,Adm-clerical,Not-in-family,White,Female,1501.835082,3.021093,28.035637,United-States,<=50K
32559,52.810189,Private,12285.000000,HS-grad,11.131705,Married-civ-spouse,Exec-managerial,Husband,White,Male,4220.145647,958.358924,49.702209,United-States,<=50K
32560,35.508440,Private,299278.111583,Some-college,13.809240,Never-married,Handlers-cleaners,Husband,White,Male,70.807698,255.546453,37.304219,United-States,<=50K

In [5]:
from sdv.metadata import SingleTableMetadata
from sdv.evaluation.single_table import evaluate_quality
from sdv.single_table import GaussianCopulaSynthesizer

In [6]:
data = pd.read_csv('American_Income.csv')
metadata1 = SingleTableMetadata()
metadata1.detect_from_dataframe(data = data)

baseline_quality_report = evaluate_quality(
    data,  #real data
    modify_df, #synthetic data(perfect synthesizer generated(holdout))
    metadata1
)

Creating report: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4/4 [00:00<00:00,  4.69it/s]

Overall Quality Score: 80.17%

Properties:
Column Shapes: 79.77%
Column Pair Trends: 80.56%

## SDV

In [7]:
import time
metadata1 = SingleTableMetadata()

metadata1.detect_from_dataframe(data = data)
synthesier = GaussianCopulaSynthesizer(metadata1)
start_time = time.time()
synthesier.fit(data)
end_time = time.time()
fitting_time = end_time - start_time

start_time = time.time()
synthetic_data = synthesier.sample(num_rows = 32561)  #keep the number of rows equal to the data hold
end_time = time.time()
gen_time = end_time - start_time
synthetic_data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,51,Self-emp-not-inc,141189,Masters,10,Married-spouse-absent,Prof-specialty,Not-in-family,White,Male,95159,55,48,Cuba,<=50K
1,33,Self-emp-not-inc,74566,Assoc-acdm,10,Never-married,Handlers-cleaners,Wife,White,Female,37780,7,54,Mexico,<=50K
2,30,Self-emp-not-inc,226881,11th,6,Married-civ-spouse,Adm-clerical,Own-child,White,Male,166,0,36,?,<=50K
3,24,Private,210356,Bachelors,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,41425,29,40,United-States,<=50K
4,30,?,265100,Assoc-acdm,8,Divorced,?,Husband,Asian-Pac-Islander,Male,22751,0,45,India,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,71,Self-emp-not-inc,242332,HS-grad,12,Separated,Handlers-cleaners,Not-in-family,White,Female,6812,0,34,United-States,>50K
32557,21,Local-gov,529486,Bachelors,14,Never-married,Sales,Own-child,White,Male,29534,81,56,United-States,>50K
32558,31,Private,79214,Bachelors,11,Married-civ-spouse,Prof-specialty,Unmarried,White,Female,5285,173,11,United-States,<=50K
32559,23,Self-emp-not-inc,248760,HS-grad,8,Never-married,Other-service,Unmarried,White,Female,30178,9,24,United-States,>50K
32560,27,Private,291207,11th,9,Married-civ-spouse,Exec-managerial,Unmarried,Black,Female,5175,0,40,India,<=50K

In [8]:
# If fitting_time and y_data_time_used_gen are single values and you want them as separate rows
run_time_dict = {'process': ['fitting time', 'generation time'],
                 'time': [fitting_time, gen_time]}

run_time_df = pd.DataFrame(run_time_dict)

run_time_df

           process       time
0     fitting time  15.941299
1  generation time   1.338068

In [9]:
metadata1 = SingleTableMetadata()
metadata1.detect_from_dataframe(data = data)

baseline_quality_report = evaluate_quality(
    data,  #real data
    synthetic_data, #synthetic data(perfect synthesizer generated(holdout))
    metadata1
)

Creating report: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4/4 [00:00<00:00,  4.23it/s]

Overall Quality Score: 72.54%

Properties:
Column Shapes: 75.46%
Column Pair Trends: 69.61%

## GCSM

In [10]:
import GCSKM as G

In [6]:
data = pd.read_csv('American_Income.csv')
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [12]:
G = G.GaussianCopulaKmeansSynthesizer(data)
G._identify_columns()
G.convert_datetime_to_numerical()
G.handle_missing_values()
G.assign_intervals()
G.preprocess_data()
G.get_distribution()
G.calculate_cdfs()
G.standard_gaussian_all()
G.get_affinity()
G.get_laplacian()
G.optimal_clusters_dynamic()
G.spectral_embedding()
G.get_Kmeans()
G.generate_data()
G.generate_synthetic_data(32561)
G.post_process()

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 9/9 [00:40<00:00,  4.50s/it]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 32561/32561 [01:06<00:00, 489.96it/s]

,age,education,workclass,education-num,capital-gain,sex,native-country,salary,occupation,marital-status,fnlwgt,race,hours-per-week,capital-loss,relationship
0,48.053853,Preschool,Self-emp-not-inc,9.571894,4.166480e-06,Male,United-States,<=50K,Sales,Married-civ-spouse,183722.924245,White,37.915266,2.203650e-07,Husband
1,25.428893,1st-4th,?,4.179780,4.870893e+04,Male,United-States,>50K,Exec-managerial,Married-civ-spouse,179765.288792,White,36.209508,0.000000e+00,Not-in-family
2,33.329941,5th-6th,Local-gov,6.725033,1.909850e+04,Male,United-States,<=50K,Adm-clerical,Married-civ-spouse,183090.620842,White,37.595986,1.412388e-09,Not-in-family
3,51.961503,HS-grad,Private,16.000000,3.859489e-07,Female,United-States,<=50K,Machine-op-inspct,Separated,203777.547346,White,46.095644,4.356000e+03,Not-in-family
4,28.860478,Preschool,Federal-gov,2.370116,3.004677e+04,Male,United-States,>50K,Craft-repair,Married-civ-spouse,172658.650329,White,33.331056,0.000000e+00,Husband
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,67.185105,Assoc-acdm,Private,16.000000,0.000000e+00,Male,United-States,<=50K,Machine-op-inspct,Married-civ-spouse,193783.619406,White,42.091748,1.647104e+03,Husband
32557,46.316044,5th-6th,Self-emp-not-inc,9.829296,3.215102e-03,Male,United-States,<=50K,Sales,Married-civ-spouse,185387.989105,White,38.586169,1.453170e-03,Husband
32558,36.381609,10th,Private,8.293701,9.673915e+03,Male,United-States,<=50K,Adm-clerical,Married-civ-spouse,186092.340057,White,38.830515,1.955107e-02,Not-in-family
32559,58.787572,1st-4th,Private,12.704823,0.000000e+00,Male,United-States,<=50K,Other-service,Married-civ-spouse,187285.296059,White,39.410872,2.645117e+00,Husband
32560,21.658778,Some-college,Private,5.977939,9.999900e+04,Female,?,>50K,Exec-managerial,Never-married,187016.252720,White,39.144779,3.471456e-01,Unmarried

In [13]:
G.get_execution_times_df()

             Process  Time (seconds)
0       Fitting Time     2366.130403
1    Generation Time       66.570214
2  Post-Process Time        0.105671

## GMM

In [21]:
import numpy as np
import pandas as pd
from scipy.stats import kstest, norm, uniform, beta, expon, truncnorm
from sklearn.cluster import KMeans
from sklearn.mixture import GaussianMixture
from sklearn.preprocessing import StandardScaler
import warnings
from joblib import Parallel, delayed
import scipy.stats as stats
from tqdm import tqdm
from scipy.optimize import brentq
import random
import time
warnings.filterwarnings(action='ignore')

class GaussianCopulaSynthesizer:

    """
    A class for synthesizing data using Gaussian Copula models.
    """
    def __init__(self, data):

        """
        Initialize the synthesizer with the provided file path.

        Parameters:
        - filepath (str): The file path to the input dataset.
        """

        # self.filepath = filepath
        self.data = data
        self.execution_times = {}
        self.num_column = []
        self.category_column = []
        self.datetime_column = []
        self.unique_identifier_columns = []
        self.special_numeric_series_columns = []
        self.special_column_prefixes = {}
        self.hyphenated_numeric_columns = []
        self.hyphenated_format = {}
        self.columns_with_missing_values = []
        self.binary_columns_for_missing = []
        self.category_intervals = {}
        self.gmms = {}
        self.column_cdfs = {}
        self.column_inverse_cdfs = {}
        self.processed_data = None
        self.synthetic_data = pd.DataFrame()
        self.digit_counts = {}  # Store digit counts for each column
        self.column_min = {}  # Store minimum values for each column
        self.column_max = {}

    def _start_timer(self):
        """
        Start the timer for a process.
        """
        self._timer_start = time.time()

    def _stop_timer(self, process_name):
        """
        Stop the timer and store the elapsed time for the process.

        Parameters:
        - process_name (str): The name of the process for which the timer was started.
        """
        elapsed_time = time.time() - self._timer_start
        self.execution_times[process_name] = elapsed_time


    def _identify_columns(self):
        """
        Identify and classify the columns of the dataset.

        Determines the type of each column (numerical, categorical, datetime, unique identifier, etc.)
        and classifies them into appropriate attributes of the class.
        """

        self._start_timer()
        self.unique_identifier_columns = []
        temp_special_columns = []
        temp_special_num_pattern = []

        data_info = self.data.dtypes.to_dict()
        for key, dtype in data_info.items():
            unique_values = self.data[key].nunique()
            total_values = len(self.data[key])

            # Check for uniqueness
            if unique_values == total_values:
                self.unique_identifier_columns.append(key)
                continue  # Skip further checks for this column
            
            if dtype == 'object' and pd.to_datetime(self.data[key], errors='coerce').notna().any():
                self.datetime_column.append(key)
            elif dtype == 'object':
                self.category_column.append(key)
            elif dtype in ['int64', 'float64']:
                self.num_column.append(key)

            if self.data[key].isnull().any():
                self.columns_with_missing_values.append(key)
        
        temp_column = self.unique_identifier_columns

        for column in temp_column:      
            try:
                if self.data[column].str.match(r'[A-Za-z]+\d+').all():
                    extracted, prefix_lengths, number_lengths = self.extract_number_part(self.data[column])
                    self.special_numeric_series_columns.append(column)
                    # Store extracted prefixes and their lengths
                    self.special_column_prefixes[column] = extracted[0].iloc[0]
                    self.digit_counts[column] = number_lengths.iloc[0]

                elif self.data[column].str.match(r'\d+-\d+-\d+').all():
                    # Handling hyphenated numeric columns
                    self.hyphenated_numeric_columns.append(column)
                    combined_numbers, digit_counts = self.extract_numbers(self.data[column])
                    self.hyphenated_format[column] = digit_counts.iloc[0].tolist()  # Store digit count format
            except AttributeError:
                self.unique_identifier_columns.remove(column)
                self.category_column.append(column)
        
        if self.hyphenated_numeric_columns == [] and self.special_numeric_series_columns == []:
            self.category_column.extend(self.unique_identifier_columns)
            self.unique_identifier_columns.clear()

        
               
        #self.unique_identifier_columns = [col for col in self.unique_identifier_columns if col not in temp_special_columns]
        self.special_numeric_series_columns.extend(temp_special_columns)

        #self.unique_identifier_columns = [col for col in self.unique_identifier_columns if col not in temp_special_num_pattern]
        self.hyphenated_numeric_columns.extend(temp_special_num_pattern)

        self._stop_timer("_identify_columns")
    
    def extract_number_part(self, series):
        """
        Extract alphanumeric prefix and numeric part from a series.

        Parameters:
        - series (pd.Series): A pandas Series from which to extract the alphanumeric prefix and numeric part.

        Returns:
        - tuple: A tuple containing the extracted prefix, prefix lengths, and number lengths.
        """
        
        # Extract both alphanumeric prefix and numeric part
        regex_pattern = r'([A-Za-z]+)(\d+)'
        extracted = series.str.extract(regex_pattern)
        # Calculate the length of each part (prefix and number)
        prefix_lengths = extracted[0].apply(lambda x: len(x) if pd.notnull(x) else 0)
        number_lengths = extracted[1].apply(lambda x: len(x) if pd.notnull(x) else 0)
        
        return extracted, prefix_lengths, number_lengths
    
    def extract_numbers(self, series):
        
        regex_pattern = r'(\d+)-(\d+)-(\d+)'
        extracted = series.str.extract(regex_pattern)

        # Calculate the number of digits in each part
        digit_counts = extracted.applymap(lambda x: len(str(x)) if pd.notnull(x) else 0)

        # Combine the numbers into a single string
        combined_numbers = extracted.apply(lambda row: '-'.join(row.dropna()), axis=1)

        

        return combined_numbers.astype(str), digit_counts

    
    def generate_random_hyphenated_number(self, format_pattern):
        """
        Generate a random number based on the observed format pattern.
        format_pattern: List of integers representing the length of each numeric segment.
        """
        random_number_parts = [str(random.randint(0, 10**length - 1)).zfill(length) for length in format_pattern]
        return '-'.join(random_number_parts)
    
    def generate_random_number(self, length):
        """
        Generate a random number of a specified length.
        """
        return str(random.randint(0, 10**length - 1)).zfill(length)
    
    def convert_datetime_to_numerical(self):
        ref_dt = pd.Timestamp('1970-01-01')

        for column in self.datetime_column:
            # Convert to datetime, coerce errors to NaT (missing values)
            self.data[column] = pd.to_datetime(self.data[column], errors='coerce')

            # Convert datetime to numerical value (e.g., days since reference date)
            self.data[column] = (self.data[column] - ref_dt) / np.timedelta64(1, 'D')

            # Reclassify as a numerical column
            self.num_column.append(column)
            if column in self.category_column:
                self.category_column.remove(column)
    
    def transform_to_original_format(self, column, synthetic_series):
        format_pattern = self.hyphenated_format[column]
        formatted_series = synthetic_series.apply(lambda x: '-'.join(part.zfill(length) for part, length in zip(x.split('-'), format_pattern)))
        return formatted_series

    def handle_missing_values(self):
        self._start_timer()
        for column in self.data.columns:
            if self.data[column].isnull().any():
                # Create a binary column to mark missing values
                binary_column_name = column + '_missing'
                self.data[binary_column_name] = self.data[column].isnull().astype(int)
                self.binary_columns_for_missing.append(binary_column_name)
                # Fill missing values in the original column
                self.data[column] = self.data[column].fillna(method='ffill').fillna(method='bfill')
        self._stop_timer("handle_missing_value")
    
    def convert_special_numerical(self):
        for column in self.special_numeric_series_columns:
            numerical_part = self.extract_number_part(self.data[column])
            self.data[column] = numerical_part



    def assign_intervals(self):
        self._start_timer()
        for column_name in (set(self.category_column)) - set(self.unique_identifier_columns) - set(self.binary_columns_for_missing):
            column_data = self.data[column_name]
            freq = column_data.value_counts(normalize=True)
            intervals = freq.cumsum()
            category_intervals = {}
            a = 0
            for category, cum_freq in intervals.items():
                b = cum_freq
                category_intervals[category] = (a, b)
                a = b
            self.category_intervals[column_name] = category_intervals
        self._stop_timer("assign_intervals")


    def sample_from_category(self, category_value, column_name):
        try:
            a, b = self.category_intervals[column_name][category_value]
            mean = (a + b) / 2
            sd = (b - a) / 6
            dist = truncnorm((0 - mean) / sd, (1 - mean) / sd, loc=mean, scale=sd)
            return dist.rvs()
        except KeyError:
            # Debugging information
            print(f"KeyError encountered in sample_from_category:")
            print(f"Column: {column_name}, Category Value: {category_value}")
            print(f"Available Categories in '{column_name}': {self.category_intervals[column_name]}")
            raise


    def preprocess_data(self):
        # self._identify_columns()
        # self.convert_datetime_to_numerical()
        # self.handle_missing_values()
        # self.assign_intervals()

        # Process only columns that are not unique identifiers
        self._start_timer()
        for column_name in tqdm(set(self.category_column) - set(self.unique_identifier_columns) - set(self.binary_columns_for_missing)):
            self.data[column_name] = self.data[column_name].apply(lambda x: self.sample_from_category(x, column_name))
        self._stop_timer("preprocess_data")


    
    def _find_best_components(self, data):
        bic = []
        n_components_range = range(1, 20)
        for n_components in n_components_range:
            gmm = GaussianMixture(n_components=n_components)
            gmm.fit(data)
            bic.append(gmm.bic(data))
        return n_components_range[np.argmin(bic)]

    # def _fit_gmm_for_column(self, column):
    #     best_components = self._find_best_components(self.data[column])
    #     gmm = GaussianMixture(n_components=best_components)
    #     gmm.fit(self.data[column].values.reshape(-1, 1))
    #     return column, gmm

    def fit_distributions(self):
        self._start_timer()
        # Include normal numeric and categorical columns (excluding unique identifiers and binary columns for missing values)
        self.relevant_columns = (set(self.num_column) | set(self.category_column)) - set(self.unique_identifier_columns) - set(self.binary_columns_for_missing)

        data_for_gmm = self.data[self.relevant_columns]
        best_components = self._find_best_components(data_for_gmm)

        gmm = GaussianMixture(n_components = best_components)

        gmm.fit(data_for_gmm)

        self.gmm = gmm

        for column in self.relevant_columns:
            self.column_min[column] = self.data[column].min()
            self.column_max[column] = self.data[column].max()

        self._stop_timer('fit_distribution')
    
    def get_gmm(self, column_name):
        return self.gmms.get(column_name, None) #find the gmm for that column, if not found, return None

    def generate_synthetic_data(self, num_rows):

        self._start_timer()
        # Generate synthetic data for regular columns using GMMs
        self.relevant_columns = list((set(self.data.columns) - set(self.binary_columns_for_missing)) - set(self.unique_identifier_columns))

        samples = self.gmm.sample(n_samples=num_rows)[0]  # Get samples from GMM
        synthetic_df = pd.DataFrame(samples, columns=self.relevant_columns)

      
        
        for column in self.relevant_columns:
          min_val, max_val = self.column_min.get(column, None), self.column_max.get(column, None)
          if min_val is not None and max_val is not None:
              synthetic_df[column] = synthetic_df[column].clip(lower=min_val, upper=max_val)
      
        self.synthetic_data = synthetic_df.fillna(synthetic_df.mean())

        for column in self.special_numeric_series_columns:
            prefix = self.special_column_prefixes[column]
            number_length = self.digit_counts[column]
            # Generate synthetic data based on extracted structure
            self.synthetic_data[column] = [
                prefix + self.generate_random_number(number_length)
                for _ in range(num_rows)
            ]

        for column in self.hyphenated_numeric_columns:
            format_pattern = self.hyphenated_format.get(column, [])
            self.synthetic_data[column] = [
                self.generate_random_hyphenated_number(format_pattern) for _ in range(num_rows)
            ]
        self._stop_timer("generate_syn_data")
        return self.synthetic_data
        
        

    def numerical_to_category(self, num_value, column_name):
        """ Convert a numerical value back to its corresponding category. """
        for category, (a, b) in self.category_intervals[column_name].items():
            if a <= num_value < b:
                return category
            elif num_value > 1 and round(b) == 1:
                return category
            elif num_value < 0 and round(a) == 0:
                return category
        return None  # Return None or some default value if no category matches
    
    def numerical_to_datetime(self, num_value):
        """
        Convert a numerical value back to its corresponding datetime.
        """
        return pd.Timestamp("1970-01-01") + pd.to_timedelta(num_value, unit='s')

    def post_process(self):
        """
        Convert all numerical columns back to their original categorical or datetime form.

        This method converts columns that were previously transformed into a numerical format
        back to their original categorical or datetime format.

        Returns:
        - pd.DataFrame: A DataFrame with categorical columns converted back to their original categories
                        and datetime columns converted back to their original datetime format.
        """
        self._start_timer()
        for column_name in set(self.category_column) - set(self.unique_identifier_columns) - set(self.binary_columns_for_missing):
            self.synthetic_data[column_name] = self.synthetic_data[column_name].apply(lambda x: self.numerical_to_category(x, column_name))

        for column_name in self.datetime_column:
            self.synthetic_data[column_name] = self.synthetic_data[column_name].round().astype(int)
        # Ensure the column is numeric and represents days since the epoch
            self.synthetic_data[column_name] = pd.to_timedelta(self.synthetic_data[column_name], unit='d') + pd.Timestamp("1970-01-01")

        for column in self.columns_with_missing_values:
            original_column = column.replace('_missing', '')
            self.synthetic_data.loc[self.data[column+'_missing'] == 1, original_column] = np.nan
        
        self._stop_timer("post_process")
        return self.synthetic_data
    
    def get_execution_times_df(self):
        """
        Convert the execution times dictionary to a DataFrame.

        Returns:
        - pd.DataFrame: A DataFrame with process names and their corresponding execution times.
        """
        return pd.DataFrame(list(self.execution_times.items()), columns=['Process', 'Time (seconds)'])
    
    def get_execution_times_df(self):
        """
        Convert the execution times dictionary to a DataFrame and calculate
        fitting time, generation time, and post-process time.

        Returns:
        - pd.DataFrame: A DataFrame with the detailed process names and their corresponding execution times.
        - pd.DataFrame: A DataFrame with summarized fitting time, generation time, and post-process time.
        """
        # Create the DataFrame from the execution times dictionary
        execution_times_df = pd.DataFrame(list(self.execution_times.items()), columns=['Process', 'Time (seconds)'])

        # Calculate the 'Fitting Time' as the sum of times for indices 0 to 6
        fitting_time = execution_times_df.iloc[0:5]['Time (seconds)'].sum() if len(execution_times_df) > 5 else 0

        # 'Generation Time' is the time for index 7
        generation_time = execution_times_df.iloc[5]['Time (seconds)'] if len(execution_times_df) > 5 else 0

        # 'Post-Process Time' is the time for index 8
        post_process_time = execution_times_df.iloc[6]['Time (seconds)'] if len(execution_times_df) > 6 else 0

        # Create a summary DataFrame
        summary_df = pd.DataFrame({
            'Process': ['Fitting Time', 'Generation Time', 'Post-Process Time'],
            'Time (seconds)': [fitting_time, generation_time, post_process_time]
        })

        # Return both the detailed and summary DataFrames
        return summary_df

In [22]:
import pandas as pd
data = pd.read_csv('American_Income.csv')

data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [23]:
G = GaussianCopulaSynthesizer(data)
G._identify_columns()
G.convert_datetime_to_numerical()
G.handle_missing_values()
G.assign_intervals()
G.preprocess_data()
G.fit_distributions()
G.generate_synthetic_data(32561)
G.post_process()
G.get_execution_times_df()

  0%|          | 0/9 [00:00<?, ?it/s]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 9/9 [01:51<00:00, 12.41s/it]

             Process  Time (seconds)
0       Fitting Time      161.814900
1    Generation Time        0.044393
2  Post-Process Time        0.125648

In [24]:
data = pd.read_csv('American_Income.csv')

df = G.synthetic_data
modify_df = df[data.columns]
modify_df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,56.079053,Never-worked,121683.565392,Preschool,1.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,8859.819718,0.000858,40.393745,United-States,<=50K
1,39.991484,Private,208250.289959,Preschool,1.0,Married-civ-spouse,Adm-clerical,Husband,White,Male,10809.314819,0.000000,37.379137,United-States,<=50K
2,27.566638,Self-emp-not-inc,197921.447171,Preschool,1.0,Married-civ-spouse,Other-service,Own-child,White,Male,4097.446271,0.000000,51.708139,United-States,<=50K
3,36.346759,Private,152785.998987,Preschool,1.0,Never-married,Adm-clerical,Not-in-family,White,Female,6088.728202,0.000572,30.144119,Philippines,<=50K
4,56.865243,Private,227903.577672,Preschool,1.0,Never-married,Other-service,Not-in-family,White,Male,1685.297580,0.000000,54.172455,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,34.634697,Private,223590.032065,Preschool,1.0,Never-married,Machine-op-inspct,Wife,White,Female,0.000163,1737.493848,19.958308,United-States,<=50K
32557,43.266026,Private,222458.439365,Preschool,1.0,Married-civ-spouse,Prof-specialty,Own-child,White,Female,0.000074,2064.867666,37.012249,Mexico,<=50K
32558,30.987307,Self-emp-not-inc,193286.514602,Preschool,1.0,Never-married,Adm-clerical,Not-in-family,White,Female,0.001198,1595.900866,33.004087,United-States,<=50K
32559,60.826305,Local-gov,163630.759848,Preschool,1.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.001322,1370.166214,24.039571,United-States,>50K
32560,53.738737,Private,196150.661766,Preschool,1.0,Married-civ-spouse,Sales,Husband,White,Male,0.000000,1427.346291,41.124727,United-States,<=50K

In [25]:
numerical_cols = modify_df.select_dtypes(include=[np.number]).columns.tolist()


modify_df[numerical_cols] = modify_df[numerical_cols].astype(int)

In [26]:
from sdv.metadata import SingleTableMetadata
from sdv.evaluation.single_table import evaluate_quality
from sdv.single_table import GaussianCopulaSynthesizer

In [27]:
data = pd.read_csv('American_Income.csv')
metadata1 = SingleTableMetadata()
metadata1.detect_from_dataframe(data = data)

baseline_quality_report = evaluate_quality(
    data,  #real data
    modify_df, #synthetic data(perfect synthesizer generated(holdout))
    metadata1
)

Creating report: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4/4 [00:00<00:00,  4.74it/s]

Overall Quality Score: 73.02%

Properties:
Column Shapes: 79.07%
Column Pair Trends: 66.97%

## GCKM_s

In [1]:
import pandas as pd
import numpy as np

In [4]:
import GCKM_s as G

data = pd.read_csv("American_Income.csv")

G = G.GaussianCopulaKmeansSynthesizer(data)
G._identify_columns()
G.convert_datetime_to_numerical()
G.handle_missing_values()
G.assign_intervals()
G.preprocess_data()
G.get_distribution()
G.calculate_cdfs()
G.standard_gaussian_all()
G.optimal_clusters_dynamic()
G.get_Kmeans()
# G.generate_data()
G.generate_synthetic_data(32561)
G.post_process()
G.get_execution_times_df()

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 9/9 [01:49<00:00, 12.19s/it]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2/2 [00:58<00:00, 29.42s/it]

             Process  Time (seconds)
0       Fitting Time      253.833347
1    Generation Time       58.925586
2  Post-Process Time        0.099502

In [7]:
synthetic_data = G.synthetic_data

numerical_cols = synthetic_data.select_dtypes(include=[np.number]).columns.tolist()


synthetic_data[numerical_cols] = synthetic_data[numerical_cols].astype(int)

synthetic_data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,53,Private,69754,Some-college,6,Never-married,?,Husband,White,Male,6819,149,65,United-States,<=50K
1,34,Private,331180,HS-grad,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,10332,694,26,United-States,<=50K
2,43,Private,194840,Some-college,7,Married-civ-spouse,Sales,Wife,White,Female,865,499,30,United-States,<=50K
3,35,Private,192679,Some-college,6,Separated,Prof-specialty,Own-child,Other,Female,23608,40,48,United-States,<=50K
4,43,Private,363304,Bachelors,14,Married-civ-spouse,?,Husband,White,Male,4814,253,27,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,21,Local-gov,201759,Bachelors,12,Married-civ-spouse,Sales,Not-in-family,White,Male,3846,434,41,United-States,<=50K
32557,39,Private,213593,HS-grad,11,Never-married,Craft-repair,Own-child,White,Male,11540,252,36,United-States,<=50K
32558,17,Local-gov,125524,HS-grad,11,Widowed,Other-service,Other-relative,White,Male,3333,384,38,United-States,<=50K
32559,30,Private,268363,Bachelors,13,Never-married,Other-service,Husband,White,Male,8518,256,43,United-States,>50K
32560,23,Private,230908,Some-college,7,Married-civ-spouse,Other-service,Husband,White,Female,7735,763,41,United-States,>50K

In [8]:
from sdv.metadata import SingleTableMetadata
from sdv.evaluation.single_table import evaluate_quality
from sdv.single_table import GaussianCopulaSynthesizer

data = pd.read_csv('American_Income.csv')
data = data.iloc[:1000,:]
metadata1 = SingleTableMetadata()
metadata1.detect_from_dataframe(data = data)

baseline_quality_report = evaluate_quality(
    data,  #real data
    synthetic_data, #synthetic data(perfect synthesizer generated(holdout))
    metadata1
)

Creating report: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4/4 [00:00<00:00,  6.45it/s]

Overall Quality Score: 76.2%

Properties:
Column Shapes: 79.6%
Column Pair Trends: 72.8%

## GCKM_e

In [2]:
import GCKM_e as G

data = pd.read_csv("American_Income.csv")
G = G.GaussianCopulaKmeansSynthesizer(data)
G._identify_columns()
G.convert_datetime_to_numerical()
G.handle_missing_values()
G.assign_intervals()
G.preprocess_data()
G.get_distribution()
G.calculate_cdfs()
G.standard_gaussian_all()
G.optimal_clusters_dynamic()
G.get_Kmeans()
# G.generate_data()
G.generate_synthetic_data(32561)
G.post_process()
G.get_execution_times_df()

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 9/9 [01:49<00:00, 12.14s/it]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2/2 [00:58<00:00, 29.35s/it]

             Process  Time (seconds)
0       Fitting Time      139.901168
1    Generation Time       58.769434
2  Post-Process Time        0.097016

In [3]:
synthetic_data = G.synthetic_data

numerical_cols = synthetic_data.select_dtypes(include=[np.number]).columns.tolist()


synthetic_data[numerical_cols] = synthetic_data[numerical_cols].astype(int)

synthetic_data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,62,?,45569,10th,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,828,576,23,United-States,<=50K
1,23,Private,202337,Some-college,11,Married-civ-spouse,Prof-specialty,Unmarried,Amer-Indian-Eskimo,Male,3556,121,54,United-States,<=50K
2,17,Private,159364,Some-college,7,Never-married,Exec-managerial,Not-in-family,White,Male,723,137,29,United-States,<=50K
3,59,Private,355711,Some-college,6,Married-civ-spouse,Tech-support,Not-in-family,White,Male,1310,118,20,United-States,<=50K
4,17,?,223892,10th,7,Never-married,Adm-clerical,Not-in-family,White,Male,7859,489,42,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,17,Private,446917,Bachelors,10,Never-married,Machine-op-inspct,Not-in-family,White,Female,2135,137,32,United-States,<=50K
32557,35,Private,180731,Some-college,6,Never-married,Other-service,Not-in-family,White,Male,1784,420,40,United-States,<=50K
32558,38,State-gov,61253,Some-college,7,Married-civ-spouse,Sales,Husband,Black,Male,2733,933,24,United-States,<=50K
32559,17,Private,173461,Bachelors,12,Married-civ-spouse,Other-service,Not-in-family,White,Male,4378,412,46,United-States,<=50K
32560,43,Private,81846,Some-college,8,Married-civ-spouse,Prof-specialty,Not-in-family,White,Male,10117,484,41,United-States,>50K

In [4]:
from sdv.metadata import SingleTableMetadata
from sdv.evaluation.single_table import evaluate_quality
from sdv.single_table import GaussianCopulaSynthesizer

data = pd.read_csv('American_Income.csv')
data = data.iloc[:1000,:]
metadata1 = SingleTableMetadata()
metadata1.detect_from_dataframe(data = data)

baseline_quality_report = evaluate_quality(
    data,  #real data
    synthetic_data, #synthetic data(perfect synthesizer generated(holdout))
    metadata1
)

Creating report: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4/4 [00:00<00:00,  6.32it/s]

Overall Quality Score: 72.12%

Properties:
Column Shapes: 75.58%
Column Pair Trends: 68.66%